<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headerFiles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    </th:block>
    <title>Base</title>
</head>
<body>
    <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light border border-dark">
        <a class="navbar-brand" th:href="@{/}"><img id="logo" th:src="@{/images/dollarsymbol.jpg}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/entry' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/entry}">Purchase Entry</a></li>
                 <!-- <li class="nav-item" th:classappend="${#request.getServletPath() == '/favorite' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/favorite}">Favorite Form</a></li> -->
            </ul>

        </div>
    </nav>

    <div th:fragment="header">
        <h1>My Money is Gone</h1>
    </div>

    <div th:fragment="footer">
        <div class="clear"></div>
        <footer class="footer mt-5" >
            <div class="container text-center">
                <span class="text-muted">Copyright 2021 Jaime Davila</span>
            </div>
        </footer>
    </div>


</body>
<th:block th:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</th:block>
</html>