h1 {
    text-align: center;
    font-style: italic;

}

#favform {
    text-align: center;
}

#purchaseform {
    text-align: center;
}

h2 {
    text-align: center;
}

#logo {
    width:50px;
    height:50px;
}

#price {
    border: 2px solid limegreen;
}

#name{
    border: 2px solid limegreen;
}

#purchaseLocation {
    border: 2px solid limegreen;
}

label {
    font-weight: bold;
}

#button {
    background-color: #99FF66;
}

#wallet {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border: 2px solid limegreen;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #99FF66;
}

.clear {
    clear: both;
    height: 75px; }

#card {
    background-color: #CCFF99;
    border: 2px solid limegreen;
}