<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>View Favorite Form</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <div class="container-fluid mt-5">
        <div th:each="purchaseEntry: ${entries}">
            <div class="row justify-content-center mb-3">
                <div class="col-2 col-md-4"></div>
                <div id="card" class="col-8 col-md-4 card">
                    <div  class="card-body">
                        <h5 class="card-title d-inline" th:text="${purchaseEntry.getName()}"></h5>
                        <a th:href="@{/entry/view/{id}(id=${purchaseEntry.entryId})}" class="ml-3 text-dark"><i class="fas fa-eye"></i></a>
                        <a th:href="@{/entry/delete/{id}(id=${purchaseEntry.entryId})}" class="ml-3 text-danger"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="col-2 col-md-4"></div>
            </div>

        </div>
    </div>


<div th:replace="fragments/base :: footer"></div>
</body>
<div th:replace="fragments/base :: scripts"></div>
</html>