<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Favorite Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
<div th:replace="fragments/base :: header"></div>

<form id="favform"th:action="@{/favorite}" th:object="${favorite}" method="post">
    <div>
        <label for = "price">Price of Product: </label>
        <input id = "price" type = "number" step="any" th:field="*{price}"/>
    </div>

    <div>
        <label for = "name">Name of Product: </label>
        <input id = "name" type = "text" th:field="*{name}"/>
    </div>

    <div>
        <label for = "purchaseLocation">Purchase Location: </label>
        <input id = "purchaseLocation" type = "text" th:field="*{purchaseLocation}"/>
    </div>

    <input type="submit" value = "Submit"/>
    <br>
</form>

</body>
</html>