<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Home</title>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <img id="wallet" th:src="@{/images/emptywalletfree.jpg}">

    <br><br>
   <div class="container-fluid">
<!--        <div class="row justify-content-center" sec:authorize="isAuthenticated()">-->
<!--            <div class="col-8 col-md-3 text-center">-->
<!--                <h4 th:text="'Welcome ' + ${user.firstName} + ' ' + ${user.LastName} +  '!'"></h4>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row justify-content-center" sec:authorize="isAuthenticated()">-->
<!--            <div class="col-8 col-md-3 text-center">-->
<!--                <h4 th:text="'Welcome ' + ${#authentication.principal.firstName} + ' ' + ${#authentication.principal.lastName} + '!'"></h4>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row justify-content-center" sec:authorize="isAnonymous()">
            <div class="col-8 col-md-3 text-center">
                <a th:href="@{/login}" class="btn btn-light btn-outline-dark">Login</a>
            </div>
        </div>
    </div>


    <div th:replace="fragments/base :: footer"></div>
</body>
<div th:replace="fragments/base :: scripts"></div>
</html>