<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View User</title>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
</head>
<body>
<div th:replace="fragments/base :: navigation"></div>
<div th:replace="fragments/base :: header"></div>

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <h3 class="text-center col-12">View/Edit User Info</h3>
    </div>
</div>

<form id="purchaseform" th:action="@{/entry/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <div class="container-fluid">
        <div class="row justify-content-center form-group">
            <!-- <label for="price" class="col-2 col-md-1 col-form-label">Price: </label> -->
            <div class="col-8 col-md-3">
                <input class="form-control" id="username" type="text"  th:field="*{username}"
                       placeholder="Username"/>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('username')}"
                          th:errors="*{username}">
                    </span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 col-md-3">
                <input class="form-control" id="email" type="text" th:field="*{email}"
                       placeholder="Email"/>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}">
                    </span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 col-md-3">
                <input class="form-control" id="firstName" type="text" th:field="*{firstName}"
                       placeholder="First Name"/>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('firstName')}"
                          th:errors="*{firstName}">
                    </span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 col-md-3">
                <input class="form-control" id="lastName" type="text" th:field="*{lastName}"
                       placeholder="Last Name"/>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('Last Name')}"
                          th:errors="*{lastName}">
                    </span>
            </div>
        </div>







        <div class="row justify-content-center">
            <div class="col-8 col-md-3">
                <input type="submit" class="btn btn-light btn-outline-dark" value="Submit" />
                <a class="ml-2 btn btn-light btn-outline-dark" th:href="@{/view}">Cancel</a>
            </div>
        </div>
    </div>
</form>

<div th:replace="fragments/base :: footer"></div>
</body>
<div th:replace="fragments/base :: scripts"></div>
</html>